<div class="row">
    <div class="col-md-12">
        <div class="well">
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Zootopia 4*</a></li>
                <li class="list-group-item"><a href="#">10 Cloverfield Lane 5*</a></li>
                <li class="list-group-item"><a href="#">Deadpool 5*</a></li>
                <li class="list-group-item"><a href="#">London has Fallen 3*</a></li>
            </ul>
        </div>
    </div>
</div>
