<div class="row">
    <div class="col-md-12">
        <div class="well">
            <ul class="list-group">
                <li class="list-group-item"><a href="#">REM's Peter Buck explains band's split: 'We didn't want to keep doing 20 year old songs'</a></li>
                <li class="list-group-item"><a href="#">Radio Head Anounces Live Shows</a></li>
                <li class="list-group-item"><a href="#">Iron Maiden Ed Force One plane has accident in Chile</a></li>
            </ul>
        </div>
    </div>
</div>
